{% extends '::admin.html.twig'%}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .sty__title {
            padding: 2px 5px;
            box-shadow: 0px 3px 10px rgba(51, 51, 51, 0.5);
            font-weight: bold;
        }
        .modal-dialog {
            max-width: 1188px;
            margin: 30px auto;
        }    
    </style>
{% endblock %}

{% block body %}
<br>
<div class="row align-items-center justify-content-between">
    <div class="col-12 col-sm-12 page-title">
        <h3>{{'Administradores de Contenido'|trans}}</h3>
    </div>
    <div class="col text-right">
            <a href="{{ path('_registroAdministrador') }}" class="bttn__nr"><span class="fa fa-plus" style="margin-top: 8px;"></span><span class="text__nr">{{'Nuevo registro'|trans}}</span></a>
    </div>
</div>
<div class="row">
    <div class="col-sm-16 col-md-16 col-lg-16">
        <div class="card">
            <div class="card-header gradiente">
                <h5 class="card-title">{{'Listado de registros'|trans}}</h5>
            </div>
            <div class="card-block">
                <div class="row" id="div-active-alert" style="display:none;">
                    <div class="col-sm-2">
                        &nbsp;
                    </div>
                    <div class="col-sm-12">
                        <div class="alert alert-danger" role="alert"> 
                            <strong>{{'Error en el servidor'|trans}}!</strong> <span id="active-error">{{ 'Ha ocurrido un error en el servidor. Contacte al administrador del sistema.'|trans }}</span>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        &nbsp;
                    </div>
                </div>
                <table class="table" id="dt">
                    <thead class="sty__title">
                        <tr>
                            <th class="hd__title">{{'Nombre'|trans}}</th>
                            <th class="hd__title">Login</th>
                            <th class="hd__title">{{'Fecha creación'|trans}}</th>
                            <th class="hd__title">{{'Acciones'|trans}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for usuario in usuarios %}
                            <tr class="odd">
                                <td>
                                    {{ usuario.nombre }}
                                </td>
                                <td>{{ usuario.user }}</td>
                                <td>{{ usuario.fechaRegistro }}</td>
                                <td class="center">
                                    <a href="{{ path('_registroAdministrador', { 'usuario_id': usuario.id }) }}" title="{{ 'Editar'|trans }}" class="btn btn-link btn-sm"><span class="fa fa-pencil"></span></a>
                                    <a href="#" title="{{ 'Eliminar'|trans }}" class="btn btn-link btn-sm {% if usuario.delete_disabled == '' %}delete{% endif %} {{ usuario.delete_disabled }}" data="{{ usuario.id }}"><span class="fa fa-trash"></span></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/admin/usuarios.js') }}"></script>
{% endblock %}