{% extends '::admin.html.twig'%}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap-datepicker-1.6.4-dist/css/bootstrap-datepicker.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('front/js/plugins/jquery-upload-file/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('front/js/plugins/jquery-upload-file/css/jquery.fileupload.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/loumultiselect/css/multi-select.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap-multiselect-master/dist/css/bootstrap-multiselect.css') }}" type="text/css">
    <style>
        .input-group-addon{
            padding:0px;
            border-radius: 50px !important;
        }
        .input-group .form-control {
            z-index: 1;
        }
        .input-group {
            margin-top: 35px;
            margin-left: 20px;
        }
        .fileinput-button {
            position: absolute;
        }
        #btn_foto {
            padding-top: 17px;
        }
        .social-profile-pic img {
            width: 10rem;
            height: auto;
            overflow: hidden;
            border: 0;
            -webkit-border-radius: 1rem;
            -moz-border-radius: 1rem;
            -ms-border-radius: 1rem;
            border-radius: 1rem;
            -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4) ;
            -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4) ;
            -ms-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4) ;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4) ;
            margin: -1rem 0 0 .8rem;
        }
        .sty__title {
            padding: 2px 5px;
            box-shadow: 0px 3px 10px rgba(51, 51, 51, 0.5);
            font-weight: bold;
        }
        .img_figure {
            width: 150px !important;
            height: 150px !important;
        }
    </style>
{% endblock %}

{% block body %}

{% set uri = app.request.getbasepath %}
<br><br>
<input type="hidden" id="avatar" name="avatar" value="{{ asset('img/user.png') }}">
<div class="row align-items-center justify-content-start">
    <div class="col-sm-4 col-md-4 col-lg-4">
        <a href="{{ path('_usuarios')}}" class="bttn__bck"><span class="fa fa-clipboard"></span><span class="text__bck">{{ 'Ir al listado'|trans }}</span></a>
    </div>
    <div class="col-sm-8 col-md-8 col-lg-8 alert alert-danger" role="alert" id="div-error" style="display:none;">
        <ul></ul>
    </div>
</div>
<div class="row">
	<div class="col-sm-16">
		<div class="card">
			<div class="card-header gradiente">
                <div class="card-title">
                    <h6>{{ 'Registrar administrador de contenido'|trans }}</h6>
                </div>
            </div>
           	<div class="card-block">
                <form id="form" name="form" action="{{ path('_registroAdministrador', { 'usuario_id': usuario.id }) }}" class="container-fluid p-0" method="POST">
                    <input type="hidden" id="usuario_id" name="usuario_id" value="{{ usuario.id }}">
                    <input type="hidden" id="url_login" name="url_login" value="{{ path('_ajaxValidLogin') }}">
                    <input type="hidden" id="url_upload" name="url_upload" value="{{ path('_ajaxUpload') }}">
                    <input type="hidden" id="file_input" name="file_input" value="">
                    <input type="hidden" id="uploads" name="uploads" value="{{ uploads }}">
                    <input type="hidden" id="base_upload" name="base_upload" value="usuarios/">
                    <div class="col-sm-16">		
                        <br>
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <div class="row" id="start_img">
                                    <div class="col-sm-10 col-md-10 col-lg-10">
                                         {% set img = usuario.foto ? uploads~usuario.foto : asset('img/user.png') %}
                                         <figure class="social-profile-pic" id="figure"><img id="foto_img" src="{{ img }}" alt="" class="img_figure"></figure>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="input-group">
                                            <input type="hidden" id="foto" name="foto" value="{{ usuario.foto }}" readonly="readonly">
                                            <span class="input-group-addon">
                                                <a class="fileinput-button btn_addImg" data="foto" id="btn_foto">
                                                    <span class="fa fa-photo"></span>
                                                    <input class="fileupload" type="file" name="files[]" multiple>
                                                </a>
                                            </span>
                                            <span class="input-group-addon">
                                                <button id="btn_clear" class="btn_clearImg" type="button">
                                                    <span class="fa fa-times"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="row">
                                    <label for="nombre" class="col-sm-2 col-md-2 col-lg-2 offset-sm-4 offset-md-4 offset-lg-4 col-form-label">{{ 'Nombre'|trans }}</label>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <input type="text" class="form-control form_sty1" name="nombre" id="nombre" value="{{ usuario.nombre }}">
                                        <span class="fa fa-user-circle"></span>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <label for="apellido" class="col-sm-2 col-md-2 col-lg-2 offset-sm-4 offset-md-4 offset-lg-4 col-form-label">{{ 'Apellido'|trans }}</label>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <input type="text" class="form-control form_sty1" name="apellido" id="apellido" value="{{ usuario.apellido }}">
                                        <span class="fa fa-user-circle-o"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-5 col-lg-5 col-md-5">
                                <label for="login" class="col-sm-2 col-md-2 col-lg-2 col-form-label">Login</label>
                                <div class="col-sm-14 col-md-14 col-lg-14">
                                    {% set readonly = usuario.id ? 'readonly="readonly"' : '' %}
                                    <input type="text" class="form-control form_sty1" name="login" id="login" value="{{ usuario.login }}" {{ readonly }}>
                                    <span class="fa fa-id-badge"></span>
                                </div>
                            </div>
                            <div class="col-sm-5 col-md-5 col-lg-5">
                                <div class="form-group">
                                    <label for="clave" class="col-sm-2 col-md-2 col-lg-2 col-form-label">{{ 'Contraseña'|trans }}</label>
                                    <div class="col-sm-14 col-md-14 col-lg-14">
                                        {% set disabled = usuario.id ? 'disabled="disabled"' : '' %}
                                            <input type="password" class="form-control form_sty1" name="clave" id="clave" {{ disabled }}>
                                            <span class="fa fa-lock"></span>
                                    </div>
                                </div>
                            </div>
                            {% if usuario.id %}
                                <div class="col-sm-6 col-md-6 col-lg-6" style="padding-top: 2.5em;">
                                    <div class="form-group">
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="cambiar" name="cambiar" value="1">
                                            <span class="custom-control-indicator"></span> <span class="custom-control-description">{{ 'Cambiar contraseña'|trans }}</span> 
                                        </label>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-5 col-md-5 col-lg-5">
                                <div class="form-group">
                                    <label for="correo_personal" class="col-sm-6 col-md-6 col-lg-6 col-form-label">{{ 'Correo'|trans }}</label>
                                    <div class="col-sm-14 col-md-14 col-lg-14">
                                        <input type="email" class="form-control form_sty1 " name="correo" id="correo" value="{{ usuario.correo }}">
                                        <span class="fa fa-envelope"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 col-md-5 col-lg-5 justify-content-end">
                                <label for="fecha_nacimiento" class="col-sm-10 col-md-10 col-lg-10 col-form-label">{{ 'Fecha de nacimiento'|trans }}</label>
                                <div class="col-sm-14 col-md-14 col-lg-14">
                                    {% set fecha_nacimiento = usuario.fechaNacimiento ? usuario.fechaNacimiento|date('d/m/Y') : '' %}
                                    <input type="text" class="form-control form_sty1" id="fecha_nacimiento" placeholder="DD/MM/YYYY" name="fecha_nacimiento" value="{{ fecha_nacimiento }}" data-date-end-date="-18y">
                                    <span class="fa fa-calendar"></span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label for="activo" class="col-2 col-form-label">{{ 'Activo'|trans }}</label>
                                    <div class="col-14">
                                        <div class="can-toggle demo-rebrand-2 small">
                                            <input id="f" id="activo" name="activo" type="checkbox" {% if usuario.activo %}checked{% endif %}>
                                            <label for="f">
                                                <div class="can-toggle__switch" data-checked="{{ 'Sí'|trans }}" data-unchecked="No"></div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wizard-footer">
                            <div class="col-sm-16 text-right">
                                <button type="button" class="bttn__end" id="finish"><span class="text__end">{{ 'Finalizar'|trans }}</span><span class="fa fa-check"></span></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('jq/jquery-validation-1.15.0/dist/jquery.validate.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/bootstrap-datepicker-1.6.4-dist/js/bootstrap-datepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/bootstrap-datepicker-1.6.4-dist/locales/bootstrap-datepicker.es.min.js') }}" charset="UTF-8"></script>
    <script type="text/javascript" src="{{ asset('front/js/plugins/jquery-upload-file/js/vendor/jquery.ui.widget.js') }}"></script>
    <script type="text/javascript" src="{{ asset('front/js/plugins/jquery-upload-file/js/jquery.iframe-transport.js') }}"></script>
    <script type="text/javascript" src="{{ asset('front/js/plugins/jquery-upload-file/js/jquery.fileupload.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/loumultiselect/js/jquery.multi-select.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/bootstrap-multiselect-master/dist/js/bootstrap-multiselect.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/admin/administrador.js') }}"></script>
    <script type="text/javascript">
        

        $('#finish').click(function(){
            var valid = $("#form").valid();
            if (!valid) 
            {
                notify($('#div-error').html());
                $('#finish').show();
            }
            else {

                // Validaciones adicionales
                var usuario_id = $('#usuario_id').val();
                var login = $('#login').val();

                    // Validar si el login no existe cuando es un usuario nuevo
                    if (!usuario_id)
                    {
                        $.ajax({
                            type: "POST",
                            url: $('#url_login').val(),
                            async: true,
                            data: { login: login },
                            dataType: "json",
                            success: function(data) {
                                if (data.ok != 0)
                                {
                                    $('#div-error ul').html("<li>- {{ 'El login ya existe'|trans }}.</li>");
                                    $('#div-error ul').show();
                                    notify($('#div-error').html());
                                    $('#finish').show();
                                }
                                else {
                                    $('#finish').hide();
                                    $('#form').submit();
                                }
                            },
                            error: function(){
                                $('#div-error ul').html("<li>- {{ 'Ha ocurrido un error en la validación del usuario'|trans }}.</li>");
                                $('#div-error ul').show();
                                notify($('#div-error').html());
                                $('#finish').show();
                            }
                        });
                    }
                    else { 
                        $('#finish').hide();
                        $('#form').submit();
                    }
            }
        });

        $("#form").validate({
            errorLabelContainer: "#div-error ul",
            wrapper: "li",
            ignore: "",
            rules: {
                'nombre': {
                    required: true,
                    minlength: 3
                },
                'apellido': {
                    required: true,
                    minlength: 3
                },
                'login': {
                    required: true,
                    minlength: 3
                },
                'clave': {
                    required: {
                        depends: function(element) {
                            return $("#cambiar").is(":checked") || $('#usuario_id').val() == '';
                        }
                    }
                },
                'correo': {
                    email: true,
                    required: true
                }
            },
            messages: {
                'nombre': {
                    required: "- {{ 'El nombre del usuario es requerido'|trans }}.",
                    minlength: "- {{ 'El nombre del usuario debe ser mínimo de 3 caracteres'|trans }}."
                },
                'apellido': {
                    required: "- {{ 'El apellido del usuario es requerido'|trans }}.",
                    minlength: "- {{ 'El apellido del usuario debe ser mínimo de 3 caracteres'|trans }}."
                },
                'login': {
                    required: "- {{ 'El campo usuario es requerido'|trans }}.",
                    minlength: "- {{ 'El campo usuario debe ser mínimo de 3 caracteres'|trans }}."
                },
                'clave': {
                    required: "- {{ 'La clave es requerida'|trans }}."
                },
                'correo': {
                    email: "- {{ 'El correo tiene un formato inválido'|trans }}.",
                    required: "- {{ 'El correo del usuario es requerido'|trans }}."
                },
            }
        });

    </script>
{% endblock %}
