{% extends '::admin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('front/js/plugins/jquery-upload-file/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('front/js/plugins/jquery-upload-file/css/jquery.fileupload.css') }}">
    <style>
        .input-group-addon{padding:0px;}
        .input-group .form-control {
            z-index: 1;
        }
        .input-group {
            margin-top: 35px;
        }
        .fileinput-button {
            position: absolute;
        }
        #btn_imagen {
            padding-top: 17px;
        }
        .social-profile-pic img {
            width: 10rem;
            height: auto;
            overflow: hidden;
            border: 0;
            -webkit-border-radius: 1rem;
            -moz-border-radius: 1rem;
            -ms-border-radius: 1rem;
            border-radius: 1rem;
            -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4) ;
            -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4) ;
            -ms-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4) ;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4) ;
            margin: 0rem 0 0 .8rem;
        }
        .img_figure {
            width: 200px !important;
            height: 200px !important;
            border-radius: 10% !important;
        }
    </style>
{% endblock %}

{% block body %}
{% set uri = app.request.getbasepath %}
<div class="row align-items-center justify-content-start">
    <div class="col-12 col-sm-12 page-title">
        <h3>{{ 'Configuración de la evaluación'|trans }} {{ pregunta.prueba.nombre }}</h3>
    </div>
</div>
<div class="row align-items-center justify-content-start">
    <div class="col-sm-4 col-md-4 col-lg-4">
        <a href="{{ path('_preguntas', { 'prueba_id': pregunta.prueba.id })}}" class="bttn__bck3"><span class="fa fa-list-ol"></span><span class="text__bck3">{{ 'Ir al listado de preguntas'|trans }}</span></a>
    </div>
    {% if pregunta.id %}
        <div class="col text-right">
            <a href="{{ path('_opciones', { 'pregunta_id': pregunta.id, 'cantidad': cantidad, 'total': total })}}" class="bttn__bck2"><span class="fa fa-list-ul"></span><span class="text__bck2">{{ 'Ir al listado de opciones'|trans }}</span></a>
        </div>
    {% endif %}
    <div class="col-sm-8 col-md-8 col-lg-8 alert alert-danger" role="alert" id="div-error" style="display:none;">
        <ul></ul>
    </div>
</div>
{{ form_start(form, { 'attr': { 'id': 'form', 'role': 'form' } }) }}
<input type="hidden" id="avatar" name="avatar" value="{{ asset('img/images-interface-symbol.png') }}">
<input type="hidden" id="url_upload" name="url_upload" value="{{ path('_ajaxUpload') }}">
<input type="hidden" id="file_input" name="file_input" value="">
<input type="hidden" id="uploads" name="uploads" value="{{ uploads }}">
<input type="hidden" id="base_upload" name="base_upload" value="evaluaciones/">
<input type="hidden" id="elemento_interactivo" name="elemento_interactivo" value="{{ parameters['tipo_elemento']['interactivo'] }}">
<input type="hidden" id="pregunta_simple" name="pregunta_simple" value="{{ parameters['tipo_pregunta']['simple'] }}">
<div class="row">
	<div class="col-sm-16">
        <div class="card">
            <div class="card-header gradiente">
                <div class="card-title">
                    {% set orden = pregunta.id ? pregunta.orden : cantidad~'/'~total %}
                    <h6>{{ 'Pregunta'|trans }} # {{ orden }} {{ 'de la evaluación'|trans }} {{ pregunta.prueba.nombre }}</h6>
                </div>
            </div>
            <div class="card-block fnd__wzd">
                <div class="row">
                    <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
                        <div class="form-group">
                            <label for="form_enunciado" class="col-16 col-form-label">{{ form_label(form.enunciado) }}</label>
                            <div class="col-16">
                                {{ form_widget(form.enunciado, { 'attr': { 'class': 'form-control form_sty1' } }) }}
                                <span class="fa fa-align-justify"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
                        <div class="form-group">
                            <label for="form_tipoPregunta" class="col-16 col-form-label">{{ form_label(form.tipoPregunta) }}</label>
                            <input type="hidden" id="tipo_pregunta_id" name="tipo_pregunta_id" value="pregunta.tipoElemento.id == elemento_interactivo ? '1' : '0'">
                            <div class="col-16">
                                {{ form_widget(form.tipoPregunta, { 'attr': { 'class': 'form-control form_sty_sel', 'style': 'border-radius: 5px;' } }) }}
                                <span class="fa fa-tag"></span>
                                <span class="bttn_d"><img src="{{ asset('img/down-arrowwht.png') }}" alt=""></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
                        <div class="form-group">
                            <label for="form_valor" class="col-16 col-form-label">{{ form_label(form.valor) }}</label>
                            <div class="col-8">
                                {{ form_widget(form.valor, { 'attr': { 'class': 'form-control form_sty1' } }) }}
                                <span class="fa fa-percent"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
                        <div class="form-group">
                            <label for="form_tipoElemento" class="col-16 col-form-label">{{ form_label(form.tipoElemento) }}</label>
                            <div class="col-16">
                                {{ form_widget(form.tipoElemento, { 'attr': { 'class': 'form-control form_sty_sel', 'style': 'border-radius: 5px;' } }) }}
                                <span class="fa fa-file-text-o"></span>
                                <span class="bttn_d"><img src="{{ asset('img/down-arrowwht.png') }}" alt=""></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-8" >
                        <div class="row" id="start_img">
                            {% if pregunta.imagen %}
                                {% if pregunta.imagen == 'NULL' %}
                                    {% set img = asset('img/images-interface-symbol.png') %}
                                {% else %}
                                    {% set img = uploads~pregunta.imagen %}
                                {% endif %}
                            {% else %}
                                {% set img = asset('img/images-interface-symbol.png') %}
                            {% endif %}
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <label for="form_imagen" class="col-16 col-form-label">{{ 'Imagen'|trans }}</label>
                                <figure class="social-profile-pic" id="figure"><img id="foto_img" src="{{ img }}" alt="" class="img_figure"></figure>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="input-group">
                                    <input type="hidden" id="imagen" name="imagen" value="{{ img }}" readonly="readonly">
                                    <span class="input-group-addon">
                                        <a class="fileinput-button btn_addImg" data="imagen" id="btn_imagen">
                                            <span class="fa fa-photo"></span>
                                            <input class="fileupload" type="file" name="files[]">
                                        </a>
                                    </span>
                                    <span class="input-group-addon">
                                        <button id="btn_clear" class="btn_clearImg" type="button">
                                            <span class="fa fa-times"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer" style="background: #e6e6e6;">
                <div class="col-sm-16 text-right">
                    <button type="button" class="bttn__end" id="finish"><span class="text__end">{{ 'Siguiente'|trans }}</span><span class="fa fa-chevron-right"></span></button>
                </div>
            </div>
        </div>
	</div>
</div>
{{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('jq/jquery-validation-1.15.0/dist/jquery.validate.js') }}"></script>
    <script type="text/javascript" src="{{ asset('jq/jquery-validation-1.15.0/dist/additional-methods.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('front/js/plugins/jquery-upload-file/js/vendor/jquery.ui.widget.js') }}"></script>
    <script type="text/javascript" src="{{ asset('front/js/plugins/jquery-upload-file/js/jquery.iframe-transport.js') }}"></script>
    <script type="text/javascript" src="{{ asset('front/js/plugins/jquery-upload-file/js/jquery.fileupload.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/admin/pregunta.js') }}"></script>
    <script type="text/javascript">

        $("form :input").attr("autocomplete", "off");

        if($('#file_input').val()=='')
            $('#imagen').val('NULL');
              
        $('#finish').click(function(){
            var valid = $("#form").valid();
            if (!valid) 
            {
                notify($('#div-error').html());
            }
            else {
                $('#finish').hide();
                $('#form').submit();
            }
        });

        $("#form").validate({
            errorLabelContainer: "#div-error ul",
            wrapper: "li",
            ignore: "",
            rules: {
                'form[enunciado]': {
                    required: true,
                    minlength: 2
                },
                'form[tipoPregunta]': {
                    required: true
                },
                'form[tipoElemento]': {
                    required: true
                },
                'form[valor]': {
                    required: true,
                    number: true
                }
            },
            messages: {
                'form[enunciado]': {
                    required: "- {{ 'El enunciado es requerido'|trans }}",
                    minlength: "- {{ 'El enunciado debe ser mínimo de 2 caracteres'|trans }}"
                },
                'form[tipoPregunta]': {
                    required: "- {{ 'El tipo de pregunta es requerido'|trans }}"
                },
                'form[tipoElemento]': {
                    required: "- {{ 'El tipo de elemento es requerido'|trans }}"
                },
                'form[valor]': {
                    required: "- {{ 'El valor de la pregunta es requerido'|trans }}",
                    number: "- {{ 'El valor de la pregunta debe ser un valor numérico'|trans }}"
                }
            }
        });

    </script>
{% endblock %}
