{% extends '::admin.html.twig' %}

{% block body %}

{% set uri = app.request.getbasepath %}
<input type="hidden" id="root_site" name="root_site" value="{{ uri }}" />
<input type="hidden" id="deslen" name="deslen" value="0" />

<br><br>
<div class="row align-items-center justify-content-start">
    <div class="col text-left">
        <a href="{{ path('_notificaciones')}}" class="bttn__bck"><span class="fa fa-clipboard"></span><span class="text__bck">{{ 'Ir al listado'|trans }}</span></a>
    </div>
</div>
<br>
<div class="col-sm-16 col-md-16 col-lg-16 col-xl-16 alert alert-danger" role="alert" id="div-error" style="display:none;">
    <ul></ul>
</div>
<div class="row">
    <div class="col-sm-16 col-md-16 col-lg-16 col-xl-16">
        {{ form_start(form, { 'attr': { 'id': 'form', 'role': 'form' } }) }}
            <div class="card">
                <div class="card-header"  style=" background: linear-gradient(to right, #d5ff00 0%, #A3C300 100%); ">
                    <h5 class="card-title">{{ 'Datos de la notificación'|trans }}</h5>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="form-group col-sm-16 col-md-16 col-lg-16 col-xl-16">
                            <label for="asunto" class="form-conttipo_notificacion-label">{{ form_label(form.asunto) }}:</label>
                            <div class="col-sm-16 col-md-16 col-lg-16 col-xl-16">
                                {{ form_widget(form.asunto, { 'attr': { 'class': 'form-control form_sty1' } }) }}
                                <span class="fa fa-font"></span>
                            </div>
                        </div>
                    </div>   
                    <div class="row">
                        <div class="form-group col-sm-16 col-md-16 col-lg-16 col-xl-16">
                            <label for="mensaje" class="form-conttipo_notificacion-label">{{ form_label(form.mensaje) }}:</label>
                            <div class="col-sm-16 col-md-16 col-lg-16 col-xl-16">
                                {{ form_widget(form.mensaje, { 'attr': { 'class': 'ckeditor' } }) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="col-sm-16 col-md-16 text-right">
                        <button type="button" class="bttn__end" id="finish"><span class="text__end">{{ 'Guardar'|trans }}</span><span class="fa fa-save"></span></button>
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/vendor/ckeditor/ckeditor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/ckeditor/config.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/ckfinder/ckfinder.js') }}"></script>
    <script type="text/javascript" src="{{ asset('jq/jquery-validation-1.15.0/dist/jquery.validate.js') }}"></script>
    <script type="text/javascript" src="{{ asset('jq/jquery-validation-1.15.0/dist/additional-methods.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/admin/notificacion.js') }}"></script>
    <script type="text/javascript">

        $('#finish').click(function(){
           var mensaje = 10;
           var valid = $('#form').valid();
           if(!valid){
               notify($('#div-error').html());
           }
            else{
                var deslen = $('#deslen').val();
                if (deslen < mensaje )
                {
                    $('#div-error ul').html("<li>- {{ 'Cantidad mínima de caracteres en el mensaje'|trans }}: 10 </li>");
                    $('#div-error ul').show();
                    notify($('#div-error').html());
                }
                else {
                    $('#finish').hide();
                    $('#form').submit();
                }
            }
        });

        $("#form").validate({
            errorLabelContainer: "#div-error ul",
            wrapper: "li",
            ignore: "",
            rules: {
                'form[asunto]': {
                    required: true,
                    minlength: 3
                }
            },
            messages: {
                'form[asunto]': {
                    required: "- {{ 'El asunto es requerido'|trans }}.",
                    minlength: "- {{ 'El asunto de la notificación debe ser mínimo de 3 caracteres'|trans }}."
                }
            }
        });

        </script>
{% endblock %}