{% extends '::admin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap-datepicker-1.6.4-dist/css/bootstrap-datepicker.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/vendor/loumultiselect/css/multi-select.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap-multiselect-master/dist/css/bootstrap-multiselect.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/vendor/chosen_v1.5.1/docsupport/prism.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/vendor/chosen_v1.5.1/chosen.css') }}" type="text/css">
    
    <style type="text/css" media="all">
    /* fix rtl for demo */
    .chosen-rtl .chosen-drop { left: -9000px; }
    </style>
    <style>
        .sty__title {
            padding: 2px 5px;
            box-shadow: 0px 3px 10px rgba(51, 51, 51, 0.5);
            font-weight: bold;
        }
        .ms-container {
            width: 100%;
        }
    </style>
{% endblock %}

{% block body %}

<br><br>
<input type="hidden" id="url_grupo" name="url_grupo" value="{{ path('_ajaxGrupoSeleccion') }}">
<input type="hidden" id="resets" name="resets" value="3">
<input type="hidden" id="url_seccion" name="url_seccion" value="{{ path('_ajaxSelectSeccion') }}">
<input type="hidden" id="url_libro" name="url_libro" value="{{ path('_ajaxSelectLibro') }}">
<input type="hidden" id="url_colegio" name="url_colegio" value="{{ path('_ajaxSelectColegios') }}">
<input type="hidden" id="error-msg-ciudad_id" name="error-msg-ciudad_id" value="{{ 'Error obteniendo la lista de ciudades'|trans }}">
<input type="hidden" id="error-msg-colegio_id" name="error-msg-colegio_id" value="{{ 'Error obteniendo la lista de colegios'|trans }}">
<input type="hidden" id="error-msg-seccion_id" name="error-msg-seccion_id" value="{{ 'Error obteniendo la lista de secciones'|trans }}">
<div class="row align-items-center justify-content-start">
    <div class="col text-left">
        <a href="{{ path('_programados')}}" class="bttn__bck"><span class="fa fa-clipboard"></span><span class="text__bck">{{ 'Ir al listado'|trans }}</span></a>
    </div>
</div>
<br>
<div class="col-sm-16 col-md-16 col-lg-16 col-xl-16 alert alert-danger" role="alert" id="div-error" style="display:none;">
    <ul></ul>
</div>
<div class="col-sm-8 col-md-8 col-lg-8 alert alert-danger" role="alert" id="div-error-server" style="display:none;"></div>
<div class="row">
    <div class="col-sm-16 col-md-16 col-lg-16 col-xl-16">
        <form id="form" name="form" action="{{ path('_editNotificacionProgramada', { 'notificacion_id': notificacion_programada.notificacion.id, 'notificacion_programada_id': notificacion_programada.id }) }}" method="POST">
            <div class="card">
                <div class="card-header"  style=" background: linear-gradient(to right, #d5ff00 0%, #A3C300 100%); ">
                    <h5 class="card-title">{{ 'Programación del aviso'|trans }}</h5>
                </div>
                <div class="card-block">
                    <input type="hidden" id="notificacion_programada_id" name="notificacion_programada_id" value="{{ notificacion_programada.id }}">
                    <div class="row">
                        <div class="col-sm-8 col-md-8 col-lg-8 justify-content-end">
                            <label for="fecha_difusion" class="col-sm-10 col-md-10 col-lg-10 col-form-label">{{ 'Fecha de difusión'|trans }}</label>
                            <div class="col-sm-14 col-md-14 col-lg-14">
                                {% set fecha_difusion = notificacion_programada.fechaDifusion ? notificacion_programada.fechaDifusion|date('d/m/Y') : '' %}
                                <input type="text" class="form-control form_sty1" id="fecha_difusion" placeholder="DD/MM/YYYY" name="fecha_difusion" value="{{ fecha_difusion }}" data-date-start-date="0d">
                                <span class="fa fa-calendar"></span>
                            </div>
                            <small id="help" class="form-text text-muted">{{ 'Si desea que la notificación se difunda al guardar los cambios, seleccione la fecha de hoy'|trans }}.</small>
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <label for="tipo_destino_id" class="col-sm-10 col-md-10 col-lg-10 col-form-label">{{ 'Tipo de destino'|trans }}</label>
                            <div class="col-sm-16 col-md-16 col-lg-16">
                                <select class="form-control form_sty_select" name="tipo_destino_id" id="tipo_destino_id">
                                    <option value=""></option>
                                    {% for td in tds %}
                                        {% set selected = notificacion_programada.tipoDestino ? notificacion_programada.tipoDestino.id == td.id ? 'selected="selected"' : '' : '' %}
                                        <option value="{{ td.id }}" {{ selected }} >{{ td.nombre|trim }}</option>
                                    {% endfor %}
                                </select>
                                <span class="fa fa-location-arrow"></span>
                                <span class="bttn_d"><img src="{{ asset('img/down-arrowbck.png') }}"></span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row" id="div-entidades">
                        <div class="col-sm-12" id="change" style="display:none;">
                            <div class="load1 load-wrapper">
                                <div class="loader">
                                    Loading...
                                </div>  
                            </div>
                            <div class="alert alert-danger" role="alert" id="div-entidades-alert" style="display:none;"> 
                                <strong>{{ 'Error en el servidor'|trans }}!</strong> {{ 'Error al obtener el grupo de selección'|trans }}.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="col-sm-16 col-md-16 text-right">
                        <button type="button" class="bttn__end" id="finish"><span class="text__end">{{ 'Guardar'|trans }}</span><span class="fa fa-save"></span></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('jq/jquery-validation-1.15.0/dist/jquery.validate.js') }}"></script>
    <script type="text/javascript" src="{{ asset('jq/jquery-validation-1.15.0/dist/additional-methods.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/bootstrap-datepicker-1.6.4-dist/js/bootstrap-datepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/bootstrap-datepicker-1.6.4-dist/locales/bootstrap-datepicker.es.min.js') }}" charset="UTF-8"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/loumultiselect/js/jquery.multi-select.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/quicksearch-master/jquery.quicksearch.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/bootstrap-multiselect-master/dist/js/bootstrap-multiselect.js') }}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/bootstrap-selectv-12/dist/js/i18n/defaults-es_ES.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/chosen_v1.5.1/chosen.jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/chosen_v1.5.1/docsupport/prism.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/admin/notificacion_programada.js') }}"></script>
    <script type="text/javascript">

        function observeSelectChosen()
        {
            var config = {
            '.chosen-select'           : {},
            '.chosen-select-deselect'  : {allow_single_deselect:true},
            '.chosen-select-no-single' : {disable_search_threshold:10},
            '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
            '.chosen-select-width'     : {width:"95%"}
            }
            for (var selector in config) {
            $(selector).chosen(config[selector]);
            }
            console.log('entrando aca');
        }    

        function observeMultiSelect()
        {
            $('.multiple').multiSelect({
                selectableHeader: "<div class='sty__title'>{{ 'Elementos sin seleccionar'|trans }}</div> <input type='text' class='search-input' autocomplete='off' placeholder='buscar'>",
                selectionHeader: "<div class='sty__title'>{{ 'Elementos seleccionados'|trans }}</div> <input type='text' class='search-input' autocomplete='off' placeholder='buscar'>",
                afterInit: function(ms){
                var that = this,
                    $selectableSearch = that.$selectableUl.prev(),
                    $selectionSearch = that.$selectionUl.prev(),
                    selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
                    selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';

                that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                .on('keydown', function(e){
                if (e.which === 40){
                    that.$selectableUl.focus();
                    return false;
                }
                });

                that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                .on('keydown', function(e){
                if (e.which == 40){
                    that.$selectionUl.focus();
                    return false;
                }
                });
            },
            afterSelect: function(){
                this.qs1.cache();
                this.qs2.cache();
            },
            afterDeselect: function(){
                this.qs1.cache();
                this.qs2.cache();
            }
            });
        }

        $('#finish').click(function(){
           var valid = $('#form').valid();
           var valid_seccion = $('#form').valid();
            if(!valid){
                notify($('#div-error').html());
            }
            else {

                // Validaciones adicionales
                var entidades = $('#entidades').val();
                var tipo_destino_id = $('#tipo_destino_id').val();
                var error_msg = '';
                
                if (tipo_destino_id == 6 || tipo_destino_id == 7 )
                {
                    if (entidades == null)
                    {
                        valid = false;
                        error_msg = "<li>- {{ 'Debe seleccionar el grupo'|trans }}.</li>";
                    }
                    else {
                        if (entidades.length < 1)
                        {
                            valid = false;
                            error_msg = "<li>- {{ 'Debe seleccionar el grupo'|trans }}.</li>";
                        }
                    }
                }
                else if(tipo_destino_id == 5 && entidades == '')
                {
                    valid = false;
                    error_msg = "<li>- {{ 'El libro es requerido'|trans }}.</li>";
                }
                else if((tipo_destino_id == 3 || tipo_destino_id == 4) && entidades == '')
                {
                    valid = false;
                    error_msg = "<li>- {{ 'La sección es requerida'|trans }}.</li>";
                }

                if (!valid){
                    $('#div-error ul').html(error_msg);
                    $('#div-error ul').show();
                    notify($('#div-error').html());
                    $('#finish').show();
                }
                else {
                    $('#finish').hide();
                    $('#form').submit();
                }

            }
        });

        $("#form").validate({
            errorLabelContainer: "#div-error ul",
            wrapper: "li",
            ignore: "",
            rules: {
                'fecha_difusion': {
                    required: true
                },
                'tipo_destino_id': {
                    required: true
                },
                'grado_id': {
                    required: true
                },
                'provincia_id': {
                    required: true
                },
                'ciudad_id': {
                    required: true
                },
                'colegio_id': {
                    required: true
                },
                'grado_id_l': {
                    required: true
                }
            },
            messages: {
                'fecha_difusion': {
                    required: "- {{ 'Seleccione la fecha difusión'|trans }}."
                },
                'tipo_destino_id': {
                    required: "- {{ 'El tipo de destino es requerido'|trans }}.",
                },
                'grado_id': {
                    required: "- {{ 'El grado es requerido'|trans }}."
                },
                'provincia_id': {
                    required: "- {{ 'La provincia es requerida'|trans }}."
                },
                'ciudad_id': {
                    required: "- {{ 'La ciudad es requerida'|trans }}."
                },
                'colegio_id': {
                    required: "- {{ 'El colegio es requerido'|trans }}."
                },
                'grado_id_l': {
                    required: "- {{ 'El grado es requerido'|trans }}."
                }
            }
        });

        </script>
{% endblock %}