<table class="table" id="dt">
    <thead class="sty__title">
        <tr>
            <th>{{ 'Asunto'|trans }}</th>
            <th>{{ 'Acciones'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for notificacion in notificaciones %}
            <tr>
                <td>{{ notificacion.asunto }}</td>
                <td class="center">
                    <a href="{{ path('_editNotificacion', { 'notificacion_id': notificacion.id }) }}" title="{{ 'Editar'|trans }}" class="btn btn-link btn-sm edit"><span class="fa fa-pencil"></span></a>
                    <a href="{{ path('_showNotificacion', { 'notificacion_id': notificacion.id }) }}" title="{{ 'Ver'|trans }}" class="btn btn-link btn-sm"><span class="fa fa-eye"></span></a>
                    <a href="#" title="{{ 'Eliminar'|trans }}" class="btn btn-link btn-sm {% if notificacion.delete_disabled == '' %}delete{% endif %} {{ notificacion.delete_disabled }}" data="{{ notificacion.id }}"><span class="fa fa-trash"></span></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>