<table class="table">
    <thead class="sty__title">
        <tr>
            <th class="hd__title">{{ 'Destinado a'|trans }}</th>
            <th class="hd__title">{{ 'Grupo seleccionado'|trans }}</th>
            <th class="hd__title">{{ 'Programado para'|trans }}</th>
            <th class="hd__title">{{ 'Acciones'|trans }}</th>
        </tr>
    </thead>
    <tbody id="tbody-programados">
        {% for np in nps %}
            <tr id="tr-{{ np.id }}">
                <td>{{ np.tipoDestino.nombre }}</td>
                <td id="td-{{ np.id }}">&nbsp;</td>
                <td>{{ np.fechaDifusion|date('d/m/Y') }}</td>
                <td class="center">
                    <a href="{{ path('_editNotificacionProgramada', { 'notificacion_id': np.notificacion.id, 'notificacion_programada_id': np.id }) }}" title="{{ 'Editar'|trans }}" class="btn btn-link btn-sm edit"><span class="fa fa-pencil"></span></a>
                    <a href="#" title="{{ 'Eliminar'|trans }}" class="btn btn-link btn-sm delete" data="{{ np.id }}"><span class="fa fa-trash"></span></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>