{% extends '::admin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .modal-dialog {
            max-width: 60%;
        }

        .leyenda {
            font-size: 14px;
            color: #EEA412;
        }
    </style>
{% endblock %}

{% block body %}
<input type="hidden" id="url_img_ub" name="url_img_ub" value="{{ path ('_ajaxSaveImg') }}">
<input type="hidden" id="url_pdf" name="url_pdf" value="{{ path ('_exportarReportePdf') }}">
<input type="hidden" name="url_libros_foro" id="url_libros_foro" value=" {{ path('_ajaxLibrosForo') }}">
<input type="hidden" id="error-msg-excel" name="error-msg-excel" value="{{ 'Error al descargar la lista de códigos'|trans }}.">
<input type="hidden" id="alert-msg-Ldisponibles" name="alert-msg-Ldisponibles" value="{{ 'No existen libros registrados, para la empresa y el grado seleccionado'|trans }}.">
<input type="hidden" id="error-msg-libros" name="error-msg-libros" value="{{ 'Error obteniendo la lista de libros'|trans }}">
<input type="hidden" id="error-msg" name="error-msg" value="{{ 'Error en el servidor'|trans }}">
<input type="hidden" id="error-msg-server" name="error-msg-server" value="{{ 'Error en el servidor'|trans }}">
<input type="hidden" id="encabezado" name="encabezado" value="{{ 'Cargando'|trans }}">



<br>

<div class="row align-items-center justify-content-between">
    <div class="col-12 col-sm-12 page-title">
        <h3>{{ 'Estadísticas de Códigos por Ubicación Geográfica'|trans }}</h3>
    </div>
</div>


<div class="row">
    <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8 offset-sm-4 offset-md-4 offset-lg-4">
        <div class="card">
            <div class="card-header"  style=" background: linear-gradient(to right, #d5ff00 0%, #A3C300 100%); ">
                <h5 class="card-title">{{ 'Filtro'|trans }}</h5>
            </div>
            <div class="card-block" id="filtro">
                <form id="form" name="form" action="{{ path('_ajaxCodigosActivosProvinciaCiudad') }}" method="POST">
                <div class="row">
                    <div class="col-md-16 col-sm-16 col-lg-16 col-xl-16">
                        <label for="empresa_id" class="col-sm-6 col-md-6 col-lg-16 offset-sm-5 offset-md-5 offset-lg-5">{{ 'Empresa'|trans }}</label>
                        <div class="row">
                            
                            <div class="col-sm-6 col-md-6 col-lg-6 offset-sm-5 offset-md-5 offset-lg-5">
                                <select class="form_sty_sel form-control selDepend" style="border-radius: 5px" id="empresa_id" name="empresa_id" data-depend="grado_id">
                                    <option value=""></option> 
                                    {% for empresa in empresas %}
                                        <option value="{{ empresa.id }}">{{ empresa.nombre }} </option>
                                    {% endfor %}
                                </select>
                                <span class="fa fa-industry"></span>
                                <span class="bttn_d"><img src="{{ asset('img/down-arrowbck.png') }}"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <BR>
                <div class="row">
                    <div class="col-md-16 col-sm-16 col-lg-16 col-xl-16">
                        <label for="grado_id" class="col-sm-6 col-md-6 col-lg-16 offset-sm-5 offset-md-5 offset-lg-5">{{ 'Grado'|trans }} </label>
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6 offset-sm-5 offset-md-5 offset-lg-5">
                                <select class="form_sty_sel form-control selDepend" data-depend="empresa_id" style="border-radius: 5px" id="grado_id" name="grado_id">
                                    <option value=""></option>
                                    {% for grado in grados %}
                                        <option value="{{ grado.id }}" >{{ grado.nombre }}</option>
                                    {% endfor %}
                                </select>
                                <span class="fa fa-sort-numeric-asc"></span>
                                <span class="bttn_d"><img src="{{ asset('img/down-arrowbck.png') }}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            <BR>
             <div class="row">
                    <div class="col-md-16 col-sm-16 col-lg-16 col-xl-16">
                        <label for="libro_id" class="col-sm-6 col-md-6 col-lg-16 offset-sm-5 offset-md-5 offset-lg-5">{{ 'Libro'|trans }} </label>
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6 offset-sm-5 offset-md-5 offset-lg-5">
                                <select class="form_sty_sel form-control" style="border-radius: 5px" id="libro_id" name="libro_id">
                                </select>
                                <span class="fa fa-sort-numeric-asc"></span>
                                <span class="bttn_d"><img src="{{ asset('img/down-arrowbck.png') }}"></span>
                            </div>
                            <div class="col-sm-2 col-md-2 text-left" id="img-loader-libro" style="display: none">
                                <img class="img-loader" src="{{ asset('img/ui-anim_basic_16x16.gif') }}" style="">
                        </div>
                        </div>
                    </div>
                </div>
            <BR>
            <BR>
             <div class="row">
                    <div class="col-md-16 col-sm-16 col-lg-16 col-xl-16">
                        <label for="provincia_id" class="col-sm-6 col-md-6 col-lg-16 offset-sm-5 offset-md-5 offset-lg-5">{{ 'Provincia'|trans }} </label>
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6 offset-sm-5 offset-md-5 offset-lg-5">
                                <select class="form_sty_sel form-control" style="border-radius: 5px" id="provincia_id" name="provincia_id">
                                    <option value=""></option>
                                    {% for provincia in provincias %}
                                        <option value="{{ provincia.id }}" >{{ provincia.nombre }}</option>
                                    {% endfor %}
                                </select>
                                <span class="fa fa-sort-numeric-asc"></span>
                                <span class="bttn_d"><img src="{{ asset('img/down-arrowbck.png') }}"></span>
                            </div>
                            <div class="col-sm-2 col-md-2 text-left" id="img-loader-libro" style="display: none">
                                <img class="img-loader" src="{{ asset('img/ui-anim_basic_16x16.gif') }}" style="">
                        </div>
                        </div>
                    </div>
                </div>
            <BR>
            <div class="card-footer">
                    <div class="col-sm-16 col-md-16 text-right">
                        <button type="button" id="search" class="bttn__saved" data-toggle="tooltip" data-placement="bottom" title="{{ 'Buscar'|trans }}"><span class="fa fa-search"></span></button>
                    </div>
            </div>
            </form>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-8 col-md-8 col-lg-8 offset-sm-4 offset-md-4 offset-lg-4 alert alert-danger" role="alert" id="div-error" style="display:none">
    <ul></ul>
</div>
<div class="col-sm-8 col-md-8 col-lg-8 offset-sm-4 offset-md-4 offset-lg-4 alert alert-danger" role="alert" id="div-error-server" style="display:none">
</div>
<div class="col-sm-8 col-md-8 col-lg-8 offset-sm-4 offset-md-4 offset-lg-4 alert alert-warning" role="alert" id="div-warning-msg" style="display:none">
</div>


<div class="row" id="div-grafico" style="display:none">
    <div class="col-sm-16">
        <div class="card">
            <div class="card-header gradiente">
                <h5 class="card-title" id="panelTitle"> <label id="titulo_libro"></label></h5>
            </div>
            <div class="card-block">
                 <div class="row" id="fila-grafico" style="display:none">
                      <div class="col-md-14 col-lg-14 col-xl-14 offset-sm-1 offset-md-1 offset-lg-1">
                        <div class="card">
                          <div class="card-header" style="text-align: center;">
                          </div>
                          <div class="card-block">
                            <div class="canvasCont" id="canvasCont1">
                            </div>
                          </div>
                        </div>
                      </div>
                 </div>
                <div class="load1 load-wrapper" id="load1" >
                    <div class="loader">
                        Loading...
                    </div>  
                </div>
                <br><br>
                <div class="card-footer">
                        <div class="col-sm-16 col-md-16 text-right">
                            <button id="pdf" type="button" class="bttn__saved generable" data-toggle="tooltip" data-placement="bottom" title="{{ 'Generar'|trans }} PDF" style="display: none"><span class="fa fa-file-pdf-o"></span></button>
                            <a id="pdf-link" class="descargable" href="#" target="_blank" style="display: none"><button type="button" class="bttn__saved" data-toggle="tooltip" data-placement="bottom" title="{{ 'Descargar'|trans }} PDF"><span class="fa fa-download"></span></button></a>
                            <img id="pdf-loader" class="pdf-loader" src="{{ asset('img/ui-anim_basic_16x16.gif') }}" style="display: none">
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block formModal %}
 

    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('jq/jquery-validation-1.15.0/dist/jquery.validate.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/admin/codigosActivosCiudad.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/chart.js/Chart.bundle.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/chart.js/Chart.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/chart.js/utils.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/chart.js/Chart.PieceLabel.js') }}"></script>
    <script type="text/javascript">
        $("#form").validate({
            errorLabelContainer: "#div-error ul",
            wrapper: "li",
            ignore: "",
            rules: {
                'empresa_id': {
                    required: true
                },
                'grado_id':{
                    required: true 
                },
                'libro_id': {
                    required: true
                }
            },
             messages: {
                'empresa_id': {
                    required: "- {{ 'La empresa es requerida'|trans }}."
                },
                'grado_id': {
                    required: "- {{ 'El grado es requerido'|trans }}."
                },
                'libro_id': {
                    required: "- {{ 'El libro es requerido'|trans}}."
                }
            }
        });

        
    </script>
{% endblock %}


