{% extends '::admin.html.twig'%}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendor/jstree/dist/themes/default/style.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/vendor/datatables/RowReorder-1.2.3/css/rowReorder.dataTables.min.css') }}" type="text/css">
    <style type="text/css">
        .modal-dialog {
            max-width: 60%;
        }
    </style>
{% endblock %}
{% block body %}
<style type="text/css">
    .enlaceActivo{
        pointer-events: null;
    }

    .enlaceInactivo{
        pointer-events: none;

    }
</style>

<br>
<input type="hidden" id="error-msg-excel" name="error-msg-excel" value="{{ 'Error obteniendo la lista de docentes activos'|trans }}.">
<input type="hidden" id="error-msg-download" name="error-msg-download" value="{{ 'Error al descargar la lista de docentes activos'|trans }}.">
<input type="hidden" id="error-msg-server" name="error-msg-libros" value="{{ 'Error en el servidor'|trans }}">
<input type="hidden" id="url-generar-excel" name="url-generar-excel" value="{{ path('_profesoresActivosExcel') }}">
<div class="row align-items-center justify-content-between"> 
    
</div>
<div class="col-sm-8 col-md-8 col-lg-8 offset-sm-4 offset-md-4 offset-lg-4 alert alert-danger" role="alert" id="div-error-server" style="display:none">
</div>
<div class="row">
    <div class="col-sm-16">
        <div class="card">
            <div class="card-header gradiente">
                <h5 class="card-title">{{ 'Listado de docentes activos'|trans }}</h5>
            </div>
            <div class="card-block">
                <div class="row"  >
                    <div class="col-sm-2">
                        &nbsp;
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-8 col-md-8 col-lg-8 alert alert-danger" role="alert" id="div-error-empresa" style="display:none;">
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-8 alert alert-warning" role="alert" id="div-warning-empresa" style="display:none;">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        &nbsp;
                    </div>
                </div>
                <table class="table " id="dt">
                    <thead class="sty__title">
                        <tr>
                            <th class="hd__title">{{ 'Nombre'|trans }}</th>
                            <th class="hd__title">{{ 'Apellido'|trans }}</th>
                            <th class="hd__title">{{ 'Libros'|trans }}</th>
                            <th class="hd__title">{{ 'Colegios'|trans }}</th>
                            <th class="hd__title">{{ 'Ultima conexión'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for profesor in profesores %}
                            {% set eo = cycle(['odd', 'even'], loop.index) %}
                            <tr class="{{ eo }}">
                                <td class="center">
                                    <a class="detail" data-toggle="modal" data-target="#detailModal" data="{{ profesor.id }}" empresa_id="" href="#">{{ profesor.nombre }}</a>
                                </td>
                                <td class="center">{{ profesor.apellido }}</td>
                                <td class="center">
                                    <label>Total: {{ profesor.cantidad_libros }}</label>
                                    {% if profesor.cantidad_libros > 0 %}
                                        <div class="tree">
                                            <ul data-jstree='{ "opened" : true }'>
                                                {{ profesor.libros|raw }}
                                            </ul>
                                        </div>
                                    {% endif %}
                                </td>
                                <td class="center">
                                    <label>Total: {{ profesor.cantidad_colegios }}</label>
                                    {% if profesor.cantidad_colegios > 0 %}
                                        <div class="tree">
                                            <ul data-jstree='{ "opened" : true }'>

                                                {{ profesor.colegios|raw }}
                                            </ul>
                                        </div>
                                    {% endif %}
                                </td>
                                <td class="center"><BR>{{ profesor.ultima_conexion | date ('d/m/y H:i:s') }}</td>
                            </tr>
                    {% endfor %}  
                    </tbody>
                </table>
                <div class="col-sm-16 col-md-16 text-right" id="btn-excel" style="margin-top: 1%;" >
                    <button type="button" id="excel-btn" class="bttn__saved" data-toggle="modal" data-href="" data-placement="bottom" title="{{ 'Generar Excel'|trans }}"> 
                     <span class="fa fa-file-excel-o"></span></button>
                     <button type="button" id="descargarExcel" class="bttn__saved" data-toggle="tooltip" data-href="" data-placement="bottom" title="{{ 'Descargar Excel'|trans }}" style="display:none"> 
                     <span class="fa fa-download"></span></button>
                      <img class="img-loader" id="excelLoader" src="{{ asset('img/ui-anim_basic_16x16.gif') }}" style="display:none">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/vendor/jstree/dist/jstree.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/admin/profesoresActivos.js') }}"></script>
{% endblock %}