{% extends '::admin.html.twig'%}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('front/js/plugins/jquery-upload-file/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('front/js/plugins/jquery-upload-file/css/jquery.fileupload.css') }}">
    <style>
        .input-group-addon{
            padding:0px;
            border-radius: 50px !important;
        }
        .input-group .form-control {
            z-index: 1;
        }
        .input-group {
            margin-top: 35px;
            margin-left: 20px;
        }
        .fileinput-button {
            position: absolute;
        }
        #btn_foto, #btn_pdf {
            padding-top: 17px;
        }
    </style>
{% endblock %}

{% block body %}

{% set uri = app.request.getbasepath %}
{{ form_start(form, { 'attr': { 'id': 'form', 'role': 'form' } }) }}
<input type="hidden" id="root_site" name="root_site" value="{{ uri }}" />
<input type="hidden" id="deslen" name="deslen" value="0" />
<input type="hidden" id="deslen2" name="deslen2" value="0" />
<input type="hidden" id="file_input" name="file_input" value="">
<input type="hidden" id="url_upload" name="url_upload" value="{{ path('_ajaxUpload') }}">
<input type="hidden" id="url_referencia" name="url_referencia" value="{{ path('_ajaxPaginaReferencia') }}">
<input type="hidden" id="uploads" name="uploads" value="{{ uploads }}">
<input type="hidden" id="base_upload" name="base_upload" value="paginas/">
<input type="hidden" id="error-msg-referencia" name="error-msg-referencia" value="{{ 'Error obteniendo el libro de referencia'|trans }}">
<input type="hidden" id="pagina_id" name="pagina_id" value="0">
<input type="hidden" id="photo" name="photo" value="{{ asset('img/picture.png') }}">
<div class="row align-items-center justify-content-start">
    <div class="col text-left">
        <a href="{{ path('_paginas')}}" class="bttn__bck"><span class="fa fa-clipboard"></span><span class="text__bck">{{ 'Ir al listado'|trans }}</span></a>
    </div>
    <div class="col-sm-8 col-md-8 col-lg-8 alert alert-danger" role="alert" id="div-error" style="display:none;">
        <ul></ul>
    </div>
    <div class="col-sm-8 col-md-8 col-lg-8 alert alert-danger" role="alert" id="div-error-server" style="display:none;">
    </div>
</div>
<div class="row">
	<div class="col-sm-16">
		<div class="card">
			<div class="card-header gradiente">
                <div class="card-title">
                    <h6>{{ 'Detalles de la página'|trans }} </h6>
                </div>
            </div>
           	<div class="card-block">
                <div class="container_wizard wizard-thin">
                	<div class="stepwizard">
                		<div class="stepwizard-row setup-panel d-flex">
            				<div class="stepwizard-step col">
                                <a href="#det0" class="btn bttn__fndo pass">
                                    <span class="btn-round">1</span>
                                    <p>{{ 'Datos Básicos'|trans }}</p>
                                </a>
                            </div>
                            <div class="stepwizard-step col">
                                <a href="#det1" class="btn btn-secondary pass disabled">
                                    <span class="btn-round">2</span>
                                    <p>{{ 'Descripción'|trans }}</p>
                                </a>
                            </div>
                            <div class="stepwizard-step col">
                                <a href="#det2" class="btn btn-secondary pass disabled">
                                    <span class="btn-round">3</span>
                                    <p>{{ 'Contenido'|trans }}</p>
                                </a>
                            </div>
                            <div class="stepwizard-step col">
                                <a href="#det3" class="btn btn-secondary pass disabled">
                                    <span class="btn-round">4</span>
                                    <p>{{ 'Archivos'|trans }}</p>
                                </a>
                            </div>
                            <div class="stepwizard-step col">
                                <a href="#det4" class="btn btn-secondary pass disabled">
                                    <span class="btn-round">5</span>
                                    <p>{{ 'Estructura'|trans }}</p>
                                </a>
                            </div>
                		</div>
                	</div>
            		<div class="row setup-content" id="det0">	
            			<div class="col-sm-16">
            				<div class="row">
                                <div class="col-sm-16">
                                    <h3 class="mb-2">{{ 'Paso'|trans }} 1</h3>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-16 col-lg-16 col-md-16">
                                    <label for="titulo" class="col-sm-4 col-md-4 col-lg-4 col-form-label">{{ form_label(form.titulo) }}</label>
                                    <div class="col-sm-16 col-md-16 col-lg-16">
                                        {{ form_widget(form.titulo, { 'attr': { 'class': 'form-control form_sty1' } }) }}
                                        <span class="fa fa-font"></span>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-16 col-lg-16 col-md-16">
                                    <label for="titulo" class="col-sm-4 col-md-4 col-lg-4 col-form-label">{{ form_label(form.subtitulo) }}</label>
                                    <div class="col-sm-16 col-md-16 col-lg-16">
                                        {{ form_widget(form.subtitulo, { 'attr': { 'class': 'form-control form_sty1' } }) }}
                                        <span class="fa fa-font"></span>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-10 col-lg-10 col-md-10">
                                    <label for="empresa" class="col-sm-6 col-md-6 col-lg-6 col-form-label">{{ form_label(form.empresa) }}</label>
                                    <div class="col-sm-10 col-md-10 col-lg-10">
                                        {{ form_widget(form.empresa, { 'attr': { 'class': 'form-control form_sty_select' } }) }}
                                        <span class="fa fa-industry"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-6 col-md-6">
                                    <label for="empresa" class="col-sm-6 col-md-6 col-lg-6 col-form-label">{{ form_label(form.estilo) }}</label>
                                    <div class="col-sm-10 col-md-10 col-lg-10">
                                        {{ form_widget(form.estilo, { 'attr': { 'class': 'form-control form_sty_select' } }) }}
                                        <span class="fa fa-css3"></span>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <label for="tipoPagina" class="col-sm-6 col-md-6 col-lg-6 col-form-label">{{ form_label(form.tipoPagina) }}</label>
                                    <div class="col-sm-16 col-md-16 col-lg-16">
                                        {{ form_widget(form.tipoPagina, { 'attr': { 'class': 'form-control form_sty_select' } }) }}
                                        <span class="fa fa-tags"></span>
                                    </div>
                                </div>
                                <div class="col-sm-5 col-md-5 col-lg-5">
                                    <label for="grado" class="col-sm-4 col-md-4 col-lg-4 col-form-label">{{ form_label(form.grado) }}</label>
                                    <div class="col-sm-14 col-md-14 col-lg-14">
                                        {{ form_widget(form.grado, { 'attr': { 'class': 'form-control form_sty_select' } }) }}
                                        <span class="fa fa-sort-numeric-asc"></span>
                                    </div>
                                </div>
                                <div class="col-sm-5 col-md-5 col-lg-5">
                                    <label for="estatusContenido" class="col-sm-6 col-md-6 col-lg-6 col-form-label">{{ form_label(form.estatusContenido) }}</label>
                                    <div class="col-sm-10 col-md-10 col-lg-10">
                                        {{ form_widget(form.estatusContenido, { 'attr': { 'class': 'form-control form_sty_select' } }) }}
                                        <span class="fa fa-list-ol"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="wizard-footer">
                                <div class="col-sm-16 text-right">
                                    <button type="button" class="bttn__nxt nextBtn"><span class="text__nxt">{{ 'Siguiente'|trans }}</span><span class="fa fa-chevron-right"></span></button>
                                </div>
                            </div>
            			</div>
            		</div>
            		<div class="row setup-content" id="det1">
            			<div class="col-sm-16">
            				<div class="row">
                                <div class="col-sm-16">
                                    <h3 class="mb-2">{{ 'Paso'|trans }} 2</h3>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-16">
                                	<div class="form-group">
                                		<label for="descripcion" class="col-2 col-form-label">{{ form_label(form.descripcion) }}</label>
                                		<div class="col-16">
                                            {{ form_widget(form.descripcion, { 'attr': { 'class': 'ckeditor' } }) }}
                                		</div>
                                	</div>
                                </div>
                            </div>
                            <div class="wizard-footer">
                                <div class="col-sm-16 text-right">
                                    <button type="button" class="bttn__nxt nextBtn"><span class="text__nxt">{{ 'Siguiente'|trans }}</span><span class="fa fa-chevron-right"></span></button>
                                </div>
                            </div>
            			</div>
            		</div>
            		<div class="row setup-content" id="det2">
                        <div class="col-sm-16">
                            <div class="row">
                                <div class="col-sm-16">
                                    <h3 class="mb-2">{{ 'Paso'|trans }} 3</h3>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-16">
                                    <div class="form-group">
                                        <label for="contenido" class="col-2 col-form-label">{{ form_label(form.contenido) }}</label>
                                        <div class="col-16">
                                            {{ form_widget(form.contenido, { 'attr': { 'class': 'ckeditor' } }) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wizard-footer">
                                <div class="col-sm-16 text-right">
                                    <button type="button" class="bttn__nxt nextBtn"><span class="text__nxt">{{ 'Siguiente'|trans }}</span><span class="fa fa-chevron-right"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row setup-content" id="det3">   
                        <div class="col-sm-16">
                            <div class="row">
                                <div class="col-sm-16">
                                    <h3 class="mb-2">{{ 'Paso'|trans }} 4</h3>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-auto col-sm-auto col-xl-auto col-lg-auto">
                                    {{ form_label(form.foto) }}
                                    {% set img = asset('img/picture.png') %}
                                    <div class="photo_img" id="figure"><img id="foto_img" src="{{ img }}" alt="{{ 'Foto principal'|trans }}" style="width: 512px; height: auto; margin: 0 1rem;"></div>
                                </div>
                                <div class="col-md-auto col-sm-auto col-xl-auto col-lg-auto">
                                    <div class="input-group">
                                        {{ form_widget(form.foto, { 'attr': { 'readonly': 'readonly' } }) }}
                                        <span class="input-group-addon">
                                            <a class="fileinput-button btn_addImg" data="form_foto" id="btn_foto">
                                                <span class="fa fa-photo"></span>
                                                <input class="fileupload" type="file" name="files[]" multiple>
                                            </a>
                                        </span>
                                        <span class="input-group-addon">
                                            <button id="btn_clear" class="btn_clearImg" type="button">
                                                <span class="fa fa-times"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-8 col-lg-8 col-md-8">
                                    <label for="pdf" class="col-sm-6 col-md-6 col-lg-6 col-form-label">{{ form_label(form.pdf) }}</label>
                                    <div class="col-sm-16 col-md-16 col-lg-16">
                                        {{ form_widget(form.pdf, { 'attr': { 'class': 'form-control form_sty1', 'placeholder': 'Sólo archivo en PDF', 'id':'form_pdf', 'readonly': 'readonly' } }) }}
                                        <span class="fa fa-file-pdf-o"></span>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <a class="fileinput-button btn_addImg" data="form_pdf" id="btn_pdf">
                                                <span class="fa fa-file-pdf-o"></span>
                                                <input class="fileupload" type="file" name="files[]" multiple>
                                            </a>
                                        </span>
                                        <span class="input-group-addon">
                                            <button id="btn_clear2" class="btn_clearImg2" type="button">
                                                <span class="fa fa-times"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="wizard-footer">
                                <div class="col-sm-16 text-right">
                                    <button type="button" class="bttn__nxt nextBtn"><span class="text__nxt">{{ 'Siguiente'|trans }}</span><span class="fa fa-chevron-right"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row setup-content" id="det4">   
                        <div class="col-sm-16">
                            <div class="row">
                                <div class="col-sm-16">
                                    <h3 class="mb-2">{{ 'Paso'|trans }} 5</h3>
                                </div>
                            </div>
                            <br>
                            <div class="row" id="div-referencia">
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-6 col-lg-6 col-md-6">
                                    <label for="subpaginas" class="col-sm-16 col-md-16 col-lg-16 col-form-label">{{ 'Cantidad de sub-páginas'|trans }}</label>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <input type="text" class="form-control form_sty1" name="subpaginas" id="subpaginas" value="0">
                                        <span class="fa fa-slack"></span>
                                    </div>
                                </div>
                                <div class="col-sm-5 col-md-5 col-lg-5">
                                    <label for="tipo_subpaginas" class="col-sm-16 col-md-16 col-lg-16 col-form-label">{{ 'Tipo de las sub-paginas'|trans }}</label>
                                    <div class="col-sm-10 col-md-10 col-lg-10">
                                        <select class="form-control form_sty_select" name="tipo_subpaginas" id="tipo_subpaginas">
                                            {% for tipo in tipos %}
                                                <option value="{{ tipo.id }}">{{ tipo.nombre }}</option>
                                            {% endfor %}
                                        </select>
                                        <span class="fa fa-tags"></span>
                                    </div>
                                </div>
                                <div class="col-sm-5 col-md-5 col-lg-5">
                                    <label for="status_subpaginas" class="col-sm-16 col-md-16 col-lg-16 col-form-label">{{ 'Estatus de las sub-paginas'|trans }}</label>
                                    <div class="col-sm-10 col-md-10 col-lg-10">
                                        <select class="form-control form_sty_select" name="status_subpaginas" id="status_subpaginas">
                                            {% for s in status %}
                                                <option value="{{ s.id }}">{{ s.nombre }}</option>
                                            {% endfor %}
                                        </select>
                                        <span class="fa fa-list-ol"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="wizard-footer">
                                <div class="col-sm-16 text-right" id="final">
                                    <button type="button" class="bttn__end" id="finish"><span class="text__end">{{ 'Finalizar'|trans }}</span><span class="fa fa-check"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>
{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/vendor/ckeditor/ckeditor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/ckeditor/config.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/ckfinder/ckfinder.js') }}"></script>
    <script type="text/javascript" src="{{ asset('jq/jquery-validation-1.15.0/dist/jquery.validate.js') }}"></script>
    <script type="text/javascript" src="{{ asset('jq/jquery-validation-1.15.0/dist/additional-methods.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('front/js/plugins/jquery-upload-file/js/vendor/jquery.ui.widget.js') }}"></script>
    <script type="text/javascript" src="{{ asset('front/js/plugins/jquery-upload-file/js/jquery.iframe-transport.js') }}"></script>
    <script type="text/javascript" src="{{ asset('front/js/plugins/jquery-upload-file/js/jquery.fileupload.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/admin/pagina.js') }}"></script>
    <script type="text/javascript">
        
        $('#finish').click(function(){
            var valid = $("#form").valid();
            if (!valid) 
            {
                notify($('#div-error').html());
            }
            else {

                var tipo_pagina_id = $('#form_tipoPagina').val();
                var pagina_referencia_id = $('#pagina_referencia_id').val();
                var error = 0;
                var error_msg = '';

                if (tipo_pagina_id == 2 && pagina_referencia_id == '')
                {
                    error = 1;
                    error_msg = error_msg+"<li>- {{ 'El libro de referencia a la guía del docente es requerido'|trans }}.</li>";
                }

                if (error == 1)
                {
                    $('#div-error ul').html(error_msg);
                    $('#div-error ul').show();
                    notify($('#div-error').html());
                }
                else {
                    $('#finish').hide();
                    $('#form').submit();
                }

            }
        });

        $("#form").validate({
            errorLabelContainer: "#div-error ul",
            wrapper: "li",
            ignore: "",
            rules: {
                'form[titulo]': {
                    required: true,
                    minlength: 3
                },
                'form[empresa]': {
                    required: true
                },
                'form[tipoPagina]': {
                    required: true
                },
                'form[grado]': {
                    required: true
                },
                'form[foto]': {
                    required: true,
                    extension: "jpg|jpeg|png"
                },
                'form[pdf]': {
                    extension: "pdf"
                },
                'subpaginas': {
                    required: true
                },
                'pagina_referencia_id': {
                    required: $('#form_tipoPagina').val() == 2 ? true : false
                }
            },
            messages: {
                'form[titulo]': {
                    required: "- {{ 'El título es requerido'|trans }}.",
                    minlength: "- {{ 'El título debe ser mínimo de 3 caracteres'|trans }}."
                },
                'form[empresa]': {
                    required: "- {{ 'La empresa es requerida'|trans }}."
                },
                'form[tipoPagina]': {
                    required: "- {{ 'El tipo es requerido'|trans }}."
                },
                'form[grado]': {
                    required: "- {{ 'El grado es requerido'|trans }}."
                },
                'form[foto]': {
                    required: "- {{ 'La foto principal es requerida'|trans }}.",
                    extension: "- {{ 'Formatos válidos para la foto principal jpg, jpeg ó png'|trans }}."
                },
                'form[pdf]': {
                    extension: "- {{ 'El material complementario debe ser sólo archivo con extensión pdf'|trans }}."
                },
                'subpaginas': {
                    required: "- {{ 'La cantidad de sub-páginas es requerida'|trans }}."
                },
                'pagina_referencia_id': {
                    required: "- {{ 'El libro de referencia a la guía del docente es requerido'|trans }}."
                }
            }
        });

    </script>
{% endblock %}
