<input type="hidden" id="entityToOrder" name="entityToOrder" value="EaPagina">
<input type="hidden" id="url_delete_pagina" name="url_delete_pagina" value="{{ path('_ajaxDeletePagina') }}">
<table class="table" id="dt">
    <thead class="sty__title">
        <tr>
            <th class="hd__title">{{ 'Orden'|trans }}</th>
            <th class="hd__title">Id</th>
            <th class="hd__title">{{ 'Título'|trans }}</th>
            <th class="hd__title">{{ 'Tipo'|trans }}</th>
            <th class="hd__title">{{ 'Modificado el'|trans }}</th>
            <th class="hd__title">{{ 'Estatus'|trans }}</th>
            <th class="hd__title">{{ 'Sub-páginas'|trans }}</th>
            <th class="hd__title">{{ 'Acciones'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for pagina in paginas %}
            {% set eo = cycle(['odd', 'even'], loop.index) %}
            <tr class="{{ eo }}">
                <td class="columorden">{{ pagina.orden }}</td>
                <td>{{ pagina.id }}</td>
                <td>{{ pagina.titulo }}</td>
                <td>{{ pagina.tipo }}</td>
                <td>{{ pagina.modificacion }}</td>
                <td>{{ pagina.status }}</td>
                <td>
                    {% if pagina.subpaginas.tiene > 0 %}
                        <div class="tree">
                            <ul data-jstree='{ "opened" : true }'>
                                {{ pagina.subpaginas.return|raw }}
                            </ul>
                        </div>
                    {% else %}
                        {{ 'No tiene sub-páginas'|trans }}
                    {% endif %}
                </td>
                <td class="center">
                    <a href="{{ path('_pagina', { 'pagina_id': pagina.id }) }}" title="{{ 'Configurar página'|trans }}" class="btn btn-link btn-sm"><span class="fa fa-gears"></span></a>
                    {% if pagina.mover < 1 %}
                        <a href="{{ path('_moverPagina', { 'pagina_id': pagina.id }) }}" title="{{ 'Mover página'|trans }}" class="btn btn-link btn-sm"><span class="fa fa-arrows-h"></span></a>
                    {% endif %}                    
                    <a href="#" title="{{ 'Eliminar'|trans }}" class="btn btn-link btn-sm {% if pagina.delete_disabled == '' %}delete{% endif %} {{ pagina.delete_disabled }}" data="{{ pagina.id }}"><span class="fa fa-trash"></span></a>
                    <a href="#" title="{{ 'Duplicar página y sub-páginas'|trans }}" class="btn btn-link btn-sm duplicate" data-toggle="modal" data-target="#formModal" data="{{ pagina.id }}"><span class="fa fa-copy"></span></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>