{% extends '::admin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendor/jstree/dist/themes/default/style.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/vendor/datatables/RowReorder-1.2.3/css/rowReorder.dataTables.min.css') }}" type="text/css">
    <style type="text/css">
        .modal-dialog {
            max-width: 60%;
        }
    </style>
{% endblock %}


{% block body %}
<br>
<br>
<input type="hidden" id="url_edit" name="url_edit" value="{{ path('_ajaxGetPage') }}">
<input type="hidden" id="url_tree" name="url_tree" value="{{ path('_ajaxTreePaginas') }}">
<input type="hidden" id="url_list" name="url_list" value="{{ path('_pagina',{ 'pagina_id': pagina.id }) }}">
<div class="row align-items-center justify-content-between">
    <div class="col text-left">
        <a href="{{ path('_paginas')}}" class="bttn__bck"><span class="fa fa-clipboard"></span><span class="text__bck">{{ 'Ir al listado'|trans }}</span></a>
    </div>
    {% if pagina.pagina %}
        {% set padre = pagina.pagina.titulo %}
        <div class="col text-right">
            <a href="{{ path('_pagina', { 'pagina_id': pagina.pagina.id })}}" class="bttn__bck"><span class="fa fa-level-up"></span><span class="text__bck">{{ 'Página padre'|trans }}</span></a>
        </div>
    {% else %}
        {% set padre = 'No' %}
    {% endif %}
</div>

<div class="row">
    <div class="col-sm-16">
        <div class="card">
            <div class="card-header gradiente">
                <div class="card-title">
                    <h6>{{ 'Detalles de la página'|trans }}</h6>
                </div>
            </div>
            <div class="card-block">
                <div class="container_wizard wizard-thin">
                    <div class="stepwizard">
                        <div class="stepwizard-row setup-panel d-flex">
                            <div class="stepwizard-step col">
                                <a href="#det0" class="btn bttn__fndo pass">
                                    <span class="btn-round">1</span>
                                    <p>{{ 'Datos Básicos'|trans }}</p>
                                </a>
                            </div>
                            <div class="stepwizard-step col">
                                <a href="#det1" class="btn btn-secondary pass disabled">
                                    <span class="btn-round">2</span>
                                    <p>{{ 'Contenido'|trans }}</small></p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row setup-content" id="det0">   
                        <div class="col-sm-16">
                            <br>
                            <div class="content__wrapper">
                                <div class="container-fluid">
                                    <div class="row justify-content-between">
                                        <div class="col-sm-16 show__details">
                                            <h5>{{ 'Título'|trans }}</h5>
                                            <p>{{ pagina.titulo }}</p>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row justify-content-between">
                                        <div class="col-sm-16 show__details">
                                            <h5>{{ 'Sub-título'|trans }}</h5>
                                            <p>{{ pagina.subtitulo }}</p>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row justify-content-between">
                                        <div class="col-sm-8 show__details">
                                            <h5>{{ 'Página padre'|trans }}</h5>
                                            <p>{{ padre }}</p>
                                        </div>
                                        <div class="col-sm-8 show__details">
                                            <h5>CSS</h5>
                                            <p>{{ pagina.pagina ? 'No aplica'|trans : (pagina.estilo ? pagina.estilo.nombre : '') }}</p>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row justify-content-between">   
                                        <div class="col-sm-8 show__details">
                                            <h5>{{ 'Empresa'|trans }}</h5>
                                            <p>{{ pagina.empresa.nombre }}</p>
                                        </div>
                                        <div class="col-sm-8 show__details">
                                            <h5>{{ 'Grado'|trans }}</h5>
                                            <p>{{ pagina.grado.nombre }}</p>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row justify-content-between">   
                                        <div class="col-sm-8 show__details">
                                            <h5>{{ 'Tipo'|trans }}</h5>
                                            <p>{{ pagina.tipoPagina.nombre }}</p>
                                        </div>
                                        <div class="col-sm-8 show__details">
                                            <h5>{{ 'Estatus'|trans }}</h5>
                                            <p>{{ pagina.estatusContenido.nombre }}</p>
                                        </div>
                                    </div>
                                    <br>
                                    {% if pagina.paginaReferencia %}
                                        <div class="row justify-content-between">
                                            <div class="col-sm-16 show__details">
                                                <h5>{{ 'Libro de referencia a la guía del docente'|trans }}</h5>
                                                <p>{{ pagina.paginaReferencia.titulo }}</p>
                                            </div>
                                        </div>
                                        <br>
                                    {% endif %}
                                    <div class="row justify-content-between">   
                                        <div class="col-sm-5 show__details">
                                            <h5>{{ 'Creado el'|trans }}</h5>
                                            <p>{{ pagina.fechaCreacion|date('d/m/Y h:i a') }}</p>
                                        </div>
                                        <div class="col-sm-5 show__details">
                                            <h5>{{ 'Modificado el'|trans }}</h5>
                                            <p>{{ pagina.fechaModificacion|date('d/m/Y h:i a') }}</p>
                                        </div>
                                        <div class="col-sm-6 show__details">
                                            <h5>{{ 'Modificado por'|trans }}</h5>
                                            <p>{{ pagina.usuario.nombre~' '~pagina.usuario.apellido }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wizard-footer">
                                <div class="col-sm-16 text-right">
                                    <button type="button" class="bttn__nxt nextBtn"><span class="text__nxt">{{ 'Siguiente'|trans }}</span><span class="fa fa-chevron-right"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row setup-content" id="det1">
                        <div class="col-sm-16">
                            <br>
                            <div class="content__wrapper">
                                <div class="container-fluid">
                                    {% if pagina.foto %}
                                        <div class="row">
                                            <div class="col-sm-16">
                                                {% set img = uploads~pagina.foto %}
                                                <img src="{{ img }}" alt="{{ 'Foto principal'|trans }}" width="100%">
                                            </div>
                                    </div>
                                    {% endif %}
                                    <div class="row">
                                        <div class="col-sm-16">
                                            {{ pagina.descripcion|raw }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-16">
                                            {{ pagina.contenido|raw }}
                                        </div>
                                    </div>
                                    {% if pagina.pdf %}
                                        <div class="row">
                                            <div class="col-sm-16">
                                                {% set pdf = uploads~pagina.pdf %}
                                                <p class="fa fa-file-pdf-o">
                                                    <a href="{{ pdf }}" target="_blank">{{ 'Descargue material complementario'|trans }}</a>
                                                </p>
                                            </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="col-sm-16 col-md-16 text-right">
                    <a href="{{ path('_editPagina', { 'pagina_padre_id': pagina.id })}}" class="bttn__pl1"><span class="fa fa-plus"></span><span class="text__pl1">{{ 'Agregar sub-página'|trans }}</span></a>&nbsp;&nbsp;
                    {% set pagina_padre_id = pagina.pagina ? pagina.pagina.id : 0 %}
                    <a href="{{ path('_editPagina', { 'pagina_padre_id': pagina_padre_id, 'pagina_id': pagina.id })}}" class="bttn__bck"><span class="fa fa-pencil"></span><span class="text__bck">{{ 'Editar página'|trans }}</span></a>
                    {% if pagina.interactivo %}
                        <a href="{{ path('_verInteractivo', { 'pagina_id': pagina.id })}}" class="bttn__pl1" target="_blank"><span class="fa fa-eye"></span><span class="text__pl1">{{ 'Ver interactivo en acción'|trans }}</span></a>&nbsp;&nbsp;
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-16">
        <div class="card">
            <div class="card-header gradiente">
                <h5 class="card-title">{{ 'Sub-páginas'|trans }}</h5>
            </div>
            <div class="card-block">
                {{ include('ActualidadBackendBundle:Pagina:paginas.html.twig', { 'paginas': subpaginas }) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block formModal %}
    <div class="modal-header" style="background: linear-gradient(to right, #0084db 0%, #00558D 100%); color: #fff;">
        <h5 class="modal-title" id="exampleModalLongTitle">{{ 'Duplicar página y sub-páginas'|trans }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" style="color: #fff;">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form id="form" name="form" action="{{ path( '_ajaxDuplicatePage')}}" method="POST">
            <input type="hidden" id="pagina_id" name="pagina_id" value="">
            <div class="form-group">
                <label for="titulo" class="form-control-label">{{ 'Título para esta página'|trans }}:</label>
                <input type="text" class="form-control form_sty_modal" id="titulo" name="titulo" value="">
                <span class="fa fa-cube"></span>
            </div>
            <div class="form-group">
                <label for="tipo_pagina_id" class="form-control-label">{{ 'Tipo de página'|trans }}:</label>
                <select class="form-control form_sty_select" name="tipo_pagina_id" id="tipo_pagina_id">
                </select>
            </div>
            <div class="form-group">
                <label for="estatus_contenido_id" class="form-control-label">{{ 'Estatus'|trans }}:</label>
                <select class="form-control form_sty_select" name="estatus_contenido_id" id="estatus_contenido_id">
                </select>
            </div>
        </form>
        <div class="alert alert-success" role="alert" id="alert-success" style="display:none;"> 
            <strong>{{ 'Bien hecho'|trans }}!</strong> {{ 'Cantidad de registros creados'|trans }}: <span id="inserts"></span>. 
        </div>
        <div class="card" id="detail" style="display:none;">
            <div class="card-header" style="background: linear-gradient(to right, #0084db 0%, #00558D 100%);">
                <h4 class="card-title" style="color: #fff; text-transform: uppercase">{{ 'Estructura'|trans }}</h4>
            </div>
            <div class="card-block">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-sm-16 col-md-16 col-lg-16 col-xl-16 pnl__tree" id="tree_paginas">
                            &nbsp;
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/vendor/jstree/dist/jstree.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/datatables/RowReorder-1.2.3/js/dataTables.rowReorder.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('jq/jquery-validation-1.15.0/dist/jquery.validate.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/admin/paginas.js') }}"></script>
    <script type="text/javascript">
        $("#form").validate({
            rules: {
                'titulo': {
                    required: true,
                    minlength: 3
                }
            },
            messages: {
                'titulo': {
                    required: "{{ 'Este campo es requerido'|trans }}.",
                    minlength: "{{ 'Debe ser mínimo de 3 caracteres'|trans }}."
                }
            }
        });
    </script>
{% endblock %}
