
<table class="table" id="dt" >
    <thead class="sty__title">
        <tr>
            <th class="hd__title">{{ 'Tema'|trans }}</th>
            <th class="hd__title">{{ 'Participante'|trans }}</th>
            <th class="hd__title">{{ 'Fecha'|trans }}</th>
            <th class="hd__title">{{ 'Acciones'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for tema in temas %}
            {% set eo = cycle(['odd', 'even'], loop.index) %}
            <tr class="{{ eo }}">
                <td class="respuesta">{{ tema.asunto }}</td>
                <td>{{ tema.nombre~' '~tema.apellido }}</td>
                <td>{{  tema.fecharegistro  }}</td>
                <td>
                     {% if tema.usuarioId == usuario.id %}
                        <a href="#" title="{{'Editar' | trans}}" class="btn btn-link btn-sm edit" data-toggle="modal" data-target="#formModal" data="{{ tema.id }}"><span class="fa fa-plus"></span></a>
                     {% endif %}
                    <a href="#" title="{{ 'Ver'| trans }}" class=" see" data-toggle="modal"data="{{ tema.id }}"><span class="fa fa-eye"></span></a>

                    <a href="#" title="{{ 'Eliminar'|trans }}" class="btn btn-link btn-sm {% if tema.delete_disabled == '' %}delete{% endif %} {{ tema.delete_disabled }}" data="{{ tema.id }}"><span class="fa fa-trash"></span></a>
                </td>
               
            </tr>
        {% endfor %}
    </tbody>
</table>



